# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# secrets
# .env.local is already ignored by next.js defaults but explicitly listed here
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts